@font-face {
    font-family: "Windsong";
    src: url("fonts/Windsong.ttf");
}

html,
body {
    margin: 0;
    padding: 0;
}

html,
body,
#alumni-app,
#container {
    height: 100%;
    width: 100%;
}

#alumni-app {
    background-color: #e7e7e7;
    position: relative;
}

#header > nav.navbar {
    border-radius: 0;
}

#header > nav.navbar > .navbar-brand {
    display: inline-block;
    float: none;
}

#brand-name {
    font-size: 52px;
    margin-right: 12px;
}

#options-btn {
    left: 0;
    position: absolute;
}

#options-btn:hover,
#options nav .navbar-brand:hover {
    cursor: pointer;
}

#container {
    background: white;
    position: absolute;
}

#options {
    background: white;
    box-shadow: -2px 4px 10px 2px #cccccc;
    height: 100%;
    left: -262px;
    position: fixed;
    transition: left .25s, top .25s;
    width: 250px;
}

#options.left-shift {
    left: 0;
}

form .checkbox > input[type=checkbox] {
    margin-left: 0;
}

.windsong {
    font-family: Windsong, serif;
}

.hide-overflow {
    overflow: hidden;
}